---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Mi pagina de about'>
  <h1>Pagina acerca de</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nesciunt labore ipsum! Laudantium nesciunt ad quam accusamus fugit neque qui?</p>
</Layout>


<style>
  
</style>