---
const links = [
  {
    path: '/',
    pageName: 'Inicio'
  },
  {
    path: '/about',
    pageName: 'Acerca de'
  },
  {
    path: '/blog',
    pageName: 'Blog'
  }
]
---

<div class="nav-links">
  {links.map(link => 
      <a href={link.path}>{link.pageName}</a>
    )}
</div>

