---
const linkPosts = [
  {
    path : '/posts/post-1',
    namePage : 'Post 1'
  },
  {
    path : '/posts/post-2',
    namePage : 'Post 2'
  },
  {
    path : '/posts/post-3',
    namePage : 'Post 3'
  }
]
---

<ul>
  {
    linkPosts.map(link => 
      <li>
        <a href={link.path}>{link.namePage}</a>
      </li>
    )
  }
</ul>